.header-utilities {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.header-nav__item {
    border: 1px solid rgb(159, 122, 122);
    padding: 3px 20px;
    background-color: rgba(159, 122, 122, 0.16);
}

.header-nav__link {
    color: rgb(159, 122, 122);
    text-decoration: none;
    font-family: "Noto Serif JP", serif;
}


.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 100wv;
    height: 650px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(159, 122, 122);
    font-family: "Noto Serif JP", serif;
}

.form {
    margin: 0 auto;
    padding: 5px 50px;
}
.form__search{
    display: flex;
}

.search {
    display: flex;
    justify-content: space-between;
}

.form__input--text input {
    color: rgb(159, 122, 122);
    border: 1px solid #cccccc64;
    width: 340px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
}

.form__input--gender select {
    color: rgb(120, 92, 92);
    border: 1px solid #cccccc64;
    background-color: #cccccc64;
    font-size: 20px;
    width: 150px;
    height: 60px;
    text-align: center;
    margin: 0 35px;
}

.from__input--content select {
    color: rgb(120, 92, 92);
    border: 1px solid #cccccc64;
    background-color: #cccccc64;
    font-size: 20px;
    width: 300px;
    height: 60px;
    text-align: center;
}

.form__input--day input {
    color: rgb(120, 92, 92);
    border: 1px solid #cccccc64;
    background-color: #cccccc64;
    font-size: 20px;
    width: 220px;
    height: 60px;
    text-align: center;
    margin: 0 35px;
}

.button__search {
    color: white;
    background-color: rgb(159, 122, 122);
    border-color: rgb(159, 122, 122);
    font-size: 20px;
    width: 120px;
    height: 60px;
    text-align: center;
}

.form__button--reset button {
    color: white;
    background: rgba(159, 122, 122, 0.288);
    border-color: rgba(159, 122, 122, 0.056);
    font-size: 20px;
    width: 120px;
    height: 60px;
    text-align: center;
    margin-right: 50px;
}

.form__content {
    margin: 0 auto;
    padding: 5px 50px;
}

.admin-table__header {
    color: white;
    background-color: rgb(159, 122, 122);
    height: 50px;
    width: 300px;
    font-size: 20px;
}

.admin-table__text {
    color: rgb(159, 122, 122);
    height: 60px;
    width: 300px;
    font-size: 16px;
    text-align: center;
}
.space{
    margin: 5px;
}
.admin-table__content{
    border: 2px solid #cccccc64;
}
.admin-table__text label {
    border: 2px solid rgba(159, 122, 122, 0.399);
    padding: 5px 15px;
}
.pagination-item{
    width: 100%;
}
.pagination{
    display: flex;
    font-size: 18px;
    margin-right: 50px;
}
svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}
.page-link{
    text-decoration: none;
    text-align: center;
    color: rgb(159, 122, 122);
}
.page-item{
    width: 30px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(159, 122, 122, 0.399);
    color: rgb(159, 122, 122);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.export{
    color: rgb(159, 122, 122);
    background-color: rgba(159, 122, 122, 0.163);
    margin: 20px 50px;
    padding: 10px;
    font-size: 16px;
    border-color: rgba(159, 122, 122, 0.163);
}
