.header-utilities {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-nav__item {
    border: 1px solid rgb(159, 122, 122);
    padding: 3px 20px;
    background-color: rgba(159, 122, 122, 0.16);
}

.header-nav__link {
    color: rgb(159, 122, 122);
    text-decoration: none;
    font-family: "Noto Serif JP", serif;
}

.admin {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 100wv;
    height: 650px;
}

.admin__heading {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(159, 122, 122);
    font-family: "Noto Serif JP", serif;
}

input,
select {
    border: 1px solid #E3DED9;
    color: #8B7969;
    padding: 8px 15px;
    font-size: 16px;
    width: 100%;
}
.separator{
    margin: 5px;
}

.admin__inner {
    margin: 32px auto 0;
    width: 84%;
}
.search-form {
    display: flex;
    justify-content: space-between;
}

.pagination{
    display: flex;
}
a{
    color: rgb(159, 122, 122);
    text-decoration: none;
}
li{
    padding: 3px 12px;
    border: 1px solid #E3DED9;
    color: rgb(159, 122, 122);
}
.search-form__keyword-input {
    padding: 8px 12px;
    min-width: 324px;
    border: 1px solid #E3DED9;
    background-color: #FBFBFB;
}

.search-form__gender,
.search-form__category {
    position: relative;
}

.search-form__gender::after,
.search-form__category::after {
    position: absolute;
    top: 50%;
    right: 8%;
    width: 0;
    height: 0;
    border-top: 12px solid #BEB1A6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.search-form__gender-select,
.search-form__category-select {
    padding: 8px 12px;
    height: 100%;
    background-color: #F4F4F4;
}

.search-form__gender-select {
    min-width: 96px;
}

.search-form__category-select {
    min-width: 220px;
}

.search-form__date {
    position: relative;
    padding: 8px 12px;
    min-width: 140px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
}

.search-form__date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: auto;
    height: auto;
    background: transparent;
}

.search-form__date::after {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 12px solid #BEB1A6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.search-form__actions {
    display: flex;

    gap: 24px;
}

.search-form__search-btn,
.search-form__reset-btn {
    padding: 12px;
    width: 90px;
}

.search-form__reset-btn {
    background-color: #D9C6B5;
}

.export-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.export__btn {
    background-color: #E1DBD6;
    color: #8B7969;
    font-weight: 400;
}

.admin__table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

.admin__row {
    border: 1px solid #E0DFDE;
}

.admin__label,
.admin__data {
    padding: 16px 8px;
}

.admin__label:first-of-type,
.admin__data:first-of-type {
    padding-left: 48px;
}

.admin__label:last-of-type,
.admin__data:last-of-type {
    padding-right: 48px;
}

.admin__label {
    background-color: #8B7969;
    color: #FFF;
    text-align: left;
    font-weight: 400;
}

.admin__detail-btn {
    padding: 8px 12px;
    border: 1px solid #D9C6B5;
    background-color: #F0F0F0;
    color: #D9C6B5;
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    border: 1px solid #8B7969;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
}

.modal__content {
    padding: 64px 64px;
}

.modal-form__group {
    display: flex;
}

.modal-form__label {
    font-weight: bold;
    padding: 10px;
    width: 220px;
}

.modal-form__delete-btn {
    background-color: #BA370D;
    color: #FFF;
    width: 15%;
    margin-left: 45%;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    border: 1px solid #8B7969;
    border-radius: 50%;
    color: #8B7969;
    text-align: center;
    text-decoration: none;
}
.admin__data{
    color: #8B7969;
}