.modal-toggle {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px #aaa;
}

.modal-content {
    background-color: #fff;
    margin: 0 auto;
    padding: 50px 100px;
    border: 2px solid rgba(159, 122, 122, 0.736);
    width: 75%;
    box-shadow: 3px 3px 3px #aaa;
}
.modal-content label{
    border-radius: 50px;
}

.modal-toggle:checked+.openModal+.modal {
    display: block;
}

.close {
    color: rgb(159, 122, 122);
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.space {
    margin: 5px;
}
.text_table{
    font-size: 18px;
    height: 50px;
    text-align: left;
}
.text-header{
    width: 30%;
    align-items: center;
}
.delete-button{

}
.delete-button button{
    color: #fff;
    background-color: red;
    border-color: red;
    font-size: 18px;
    text-align: center;
    padding: 5px 15px;
    margin-top: 50px;
}