.header-utilities {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.header-nav__item {
    border: 1px solid rgb(159, 122, 122);
    padding: 3px 20px;
    background-color: rgba(159, 122, 122, 0.16);
}

.header-nav__link {
    color: rgb(159, 122, 122);
    text-decoration: none;
    font-family: "Noto Serif JP", serif;
}


.contact-form__content {
    margin: 0 auto;
    padding: 40px 15px;
    background-color: rgba(159, 122, 122, 0.16);
    height: 700px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(159, 122, 122);
    font-family: "Noto Serif JP", serif;
}

.form {
    margin: 0px auto;
    width: 40%;
    text-align: center;
    background-color: white;
    padding: 30px;
    height: 70%;
    border-radius: 5px;
    border: 1px solid rgb(159, 122, 122);
}

.form__group {
    text-align: center;
    margin-bottom: 10px;
}

.form__group-title {
    color: rgb(159, 122, 122);
    text-align: left;
    margin: 10px 80px;
}

.form__input--text input {
    padding: 10px;
    width: 70%;
    border: 1px solid #cccccc64;
    background-color: #cccccc64;
    border-radius: 3px;
}

.form__error {
    height: 30px;
    color: #ff0000;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 20%;
    border: none;
    background-color: rgb(159, 122, 122);
    color: #fff;
    font-size: 16px;
    text-align: center;
}