.header-utilities {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-nav__item {
    border: 1px solid rgb(159, 122, 122);
    padding: 3px 20px;
    background-color: rgba(159, 122, 122, 0.16);
}

.header-nav__link {
    color: rgb(159, 122, 122);
    text-decoration: none;
    font-family: "Noto Serif JP", serif;
}


.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 100wv;
    background-color: rgba(159, 122, 122, 0.16);
    height: 100vh;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(159, 122, 122);
    font-family: "Noto Serif JP", serif;
}

.form {
    margin: 0px auto;
    width: 40%;
    text-align: center;
    background-color: white;
    padding: 30px;
    height: 68%;
    border-radius: 5px;
    border: 1px solid rgb(159, 122, 122);
}

.form__group {
    margin-bottom: 10px;
    margin-top: 20px;
}

.register-form__label {
    color: rgb(159, 122, 122);
    display: block;
    text-align: left;
    padding-left: 80px;
    padding-bottom: 5px;
}

.register-form__input {
    padding: 10px;
    width: 70%;
    border: 1px solid #cccccc64;
    background-color: #cccccc64;
    border-radius: 3px;
}

.form__error {
    height: 30px;
    color: #ff0000;
}

.register-form__btn {
    margin-top: 20px;
    padding: 10px;
    width: 18%;
    height: 10%;
    border: none;
    background-color: rgb(159, 122, 122);
    color: #fff;
    font-size: 16px;
    text-align: center;
}
